---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0
SortIncludes: Never
AccessModifierOffset: -2
PointerAlignment: Left
Cpp11BracedListStyle: false
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
NamespaceIndentation: All
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: Never
AlignTrailingComments:
  Kind: Leave
  OverEmptyLines: 0
